<div class="row">
  @for (product of filteredProductList; track $index) {
  <app-card
    [title]="product.name | uppercase"
    [buttonLabel]="'View - ' + (product.unitPrice | appVat : 19 | currency)"
    (buttonClick)="onViewProduct(product)"
    [description]="product.quantityPerUnit"
    [imageSrc]="product.imageUrl"
    [imageAlt]="product.name"
    class="col-12 col-md-6 col-lg-4 my-2"
  ></app-card>
  }

  <app-pagination
    [page]="page"
    [pageSize]="pageSize"
    [totalItemCount]="20"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
