@if (product) {
<div class="row">
  <div class="col">
    <img
      src="https://via.placeholder.com/500"
      [alt]="product.name"
      class="rounded img-fluid"
    />
  </div>

  <div class="col">
    <h2>{{ product.name }}</h2>
    <p><strong>Quantity Per Unit:</strong> {{ product.quantityPerUnit }}</p>

    <p><strong>Units In Stock:</strong> {{ product.unitsInStock }}</p>

    <p appHighlight="yellow" labelText="On Sale!" class="display-6">{{ product.unitPrice | appVat | currency }}</p>
    <button class="btn btn-primary" (click)="onAddToCard()">Add to Cart</button>
  </div>
</div>
} @else {
<div class="row h-100">
  <div class="col h-100">
    <app-placeholder></app-placeholder>
  </div>

  <div class="col">
    <h1>
      <app-placeholder></app-placeholder>
    </h1>

    <p>
      <app-placeholder></app-placeholder>
    </p>
    <app-placeholder></app-placeholder>
    <app-button></app-button>
  </div>
</div>
}
