<form [formGroup]="newCategoryFormGroup" (submit)="onFormSubmit()">
  <div>
    <label for="nameInput">Name:</label>

    <!-- FormsModule -->
    <!-- <input id="nameInput" type="text" class="ms-2" [(ngModel)]="nameInput" /> -->

    <!-- ReactiveFormsModule -->
    <input id="nameInput" type="text" formControlName="name" class="ms-2" />
    <!-- Two-way binding -->
  </div>

  <div class="mt-3">
    <label for="descriptionInput">Description:</label>

    <!-- FormsModule -->
    <!-- <input
      id="descriptionInput"
      type="text"
      class="ms-2"
      [(ngModel)]="descriptionInput"
    /> -->

    <!-- ReactiveFormsModule -->
    <input
      id="descriptionInput"
      type="text"
      formControlName="description"
      class="ms-2"
    />
  </div>

  <button type="submit">Add</button>
</form>
